@mixin button($bg: #666, $color: #fff, $padding: .5em 1.25em, $text-align: center) {
	
	padding: $padding;
	background: $bg;
	color: $color;
	text-align: $text-align;
	text-decoration: none;

	&:hover {
		background: lighten($bg, 10%);
	}

}

%button
{
	@include button;
}